/* https://colorhunt.co/palette/1a374d4068826998abb1d0e0 */


body {
    background-color: #1A374D;
}


.main {
    padding: 2%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial;
    background-color: whitesmoke;
    color: #1A374D;
    align-items: center;
    text-align: center;
    border-radius: 25px;
}

.answerButton {
    background-color: #1A374D;
    border: none;
    border-radius: 25px;
    color: white;
    margin-top: 10px;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Arial;
    cursor: pointer;
}

.links {
    color: black;
    cursor: pointer;
}